<h1>Your date of birth is:</h1>
<%= @date_of_birth %><br>

<h1>You are this many days old:</h1>
<%= @days_old %>

<h1>Your last birthday was:</h1>
<%= @bday %>

<h1>Your are:</h1>
<%= @years %> years and <%= @days_since_last_bday %> days old
