<%= render :partial => "header", :locals => {
    :title => "Try Another Birthday:" 
} %>

<% if flash[:notice] == nil %>

<hr>
<%# Top row shows dob and years/days old %>
<br>
<div class="row">
	<%= render :partial => "panel", :locals => {
		:title => "Your were born on:", 
		:data => @nice_dob 
	} %>

	<%= render :partial => "panel", :locals => {
		:title => "You are:", 
		:data => @years_old.to_s+" years, and "+@days_since_last_bday.to_s+" days old" 
	} %>
</div>

<%# Second row shows days old and next extra days bday %>
<div class="row">
	<%= render :partial => "panel", :locals => {
		:title => "Total Age in Days:", 
		:data => number_with_delimiter(@days_old, :delimiter => ',') 
	} %>

	<%= render :partial => "panel", :locals => {
		:title => "Your next extra birthday in days is:", 
		:data => "#{number_with_delimiter(@next_days_bday, :delimiter => ',')}  which falls on the #{@next_dob_in_days}"
	} %>
</div>

<%# Third row shows weeks old and next extra weeks bday %>
<div class="row">
	<%= render :partial => "panel", :locals => {
		:title => "Total Age in Weeks:", 
		:data => number_with_delimiter(@weeks_old, :delimiter => ',') 
	} %>

	<%= render :partial => "panel", :locals => {
		:title => "Your next extra birthday in weeks is:", 
		:data => "#{number_with_delimiter(@next_weeks_bday, :delimiter => ',')}	which falls on the #{@next_dob_in_weeks}"
	} %>
</div>

<%# Forth row shows months old and next extra months bday %>
<div class="row">
	<%= render :partial => "panel", :locals => {
		:title => "Total Age in Months:", 
		:data => number_with_delimiter(@months_old, :delimiter => ',') 
	} %>
 
 	<%= render :partial => "panel", :locals => {
		:title => "Your next extra birthday in months is:", 
		:data => "#{number_with_delimiter(@next_months_bday, :delimiter => ',')}	which falls on the #{@next_dob_in_months}"
	} %>
</div>

<%# Ends flash notice %>
<% end %>

<br><br><br><br><br><br><br><br>