<div class="row">
  <br>
  <div class="large-6 columns">
  	<div class="panel">
  	<h2>Try Another Date:</h2>
 		</div>
 	</div>

	<div class="large-6 columns">
  	<br>
  	<%= form_for :post, url: 'calculate_age' do |f| %>
		  <p>
		    <%= f.text_field :date_of_birth, class: 'datepicker' %>
		  </p>
		  <p>
		    <%= f.submit "Get Extra Birthdays!" %>
		  </p>
		<% end %>
  </div>
</div>

<hr>
<%# Top row shows dob and years/days old %>
<br>
<div class="row">
  <div class="large-6 columns">
  	<div class="panel">
	  	<h2>Your date of birth is:</h2>
		  	<div class="panel callout">
				<%= @nice_dob %><br>
				</div>
			</div>
  </div>

  <div class="large-6 columns">
  	<div class="panel">
	  	<h2>You are:</h2>
	  		<div class="panel callout">
	  		<%= @years_old %> years, and <%= @days_since_last_bday %> days old
	  		</div>
	  </div>
  </div>
</div>

<%# Second row shows days old and next extra days bday %>
<div class="row">
 <div class="large-6 columns">
  	<div class="panel">
	  	<h2>Total Age in Days:</h2><br><br>
		  	<div class="panel callout">
		  		<%= number_with_delimiter(@days_old, :delimiter => ',') %>
				</div>
		</div>
  </div>	

  <div class="large-6 columns">
  	<div class="panel">
	  	<h2>Your next extra birthday in days is:</h2>
	  		<div class="panel callout">
	  		<%= number_with_delimiter(@next_days_bday, :delimiter => ',') %>
	  		</div>
	  </div>
  </div>
</div>

<%# Third row shows weeks old and next extra weeks bday %>
<div class="row">
  <div class="large-6 columns">
  	<div class="panel">
	  	<h2>Total Age in Weeks:</h2><br><br>
	  		<div class="panel callout">
	  		<%= number_with_delimiter(@weeks_old, :delimiter => ',') %> weeks old
	  		</div>
	  </div>
  </div>
  	
  <div class="large-6 columns">
  	<div class="panel">
	  	<h2>Your next extra birthday in weeks is:</h2>
		  	<div class="panel callout">
		  		<%= number_with_delimiter(@next_weeks_bday, :delimiter => ',') %>
				</div>
		</div>
  </div>
</div>

<%# Forth row shows months old and next extra months bday %>
<div class="row">
  <div class="large-6 columns">
  	<div class="panel">
	  	<h2>Total Age in Months:</h2><br><br>
	  		<div class="panel callout">
	  		<%= number_with_delimiter(@months_old, :delimiter => ',') %>
	  		</div>
	  </div>
  </div>
  	
  <div class="large-6 columns">
  	<div class="panel">
	  	<h2>Your next extra birthday in months is:</h2>
	  		<div class="panel callout">
	  		<%= number_with_delimiter(@next_months_bday, :delimiter => ',') %>
	  		</div>
	  </div>
  </div>
</div>
<br><br><br><br><br><br><br><br>